<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Regression Suite" verbose="1" preserve-order="true" configfailurepolicy="continue" thread-count="1">

    <test name="Dummy Test">
        <classes>
            <class name="com.github.amitagarwl.BaseTest"/>
        </classes>
    </test>


</suite>

